@charset "UTF-8";
@import "https://unpkg.com/ress/dist/ress.min.css";

* {
    box-sizing: border-box;
}

body {
    color: #333;
}

.inner {
    width: 1000px;
    margin: auto;
}


.scrolldown {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.scrolldown span {
    position: absolute;
    left: -25px;
    top: -25px;
    color: #eee;
    letter-spacing: 0.05em;
}

.scrolldown::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1px;
    height: 30px;
    background: #eee;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}

@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 30px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }


}

main {
    margin-top: 100vh; /* ヘッダーの高さ分だけ上部に余白を設ける */
    position: relative;
    background-color: #f4f4f4;
}

header {
    width: 100%;
    height: 90vh; /* ヘッダーの高さを画面の高さと同じに設定 */
    position: fixed; /* ヘッダーを固定位置に設定 */
    top: 0;
    left: 0;
  ; /* ヘッダーを最前面に表示 */
    background:url(../img/wow.png) no-repeat center;
    background-size: cover;
}
header:before {
content: "";
position: fixed;
top: 0;
left: 0;
z-index: -1;
width: 100%;
height: 100vh;

}
section {
    width: 100%;
    padding: 80px 0;
}
section h2 {
    margin-bottom: 1em;
}
section p {
    line-height: 1.8;
}

section#first {
    width: 1000px;
    margin: auto;
    display: flex;
    background: url("../img/ph.png") left center no-repeat;
    background-size: 400px 400px;
    background-color:#f4f4f4;
}
section#first .inner {
    width: 500px;
    margin-right: 0;
    margin-left: auto;
}
section#first p {
    margin: 1em 0;
}

section#second .inner,
section#third .inner {
    text-align: center;
}
section#second p,
section#third p {
    margin-bottom: 3em;
}

section#second {
    width: 1000px;
    margin: auto;
    display: flex;
    margin-bottom: 0;
    background-color: #f4f4f4;
   
}
section#third {
    width: 1000px;
    margin: auto;
    display: flex;
    background-color: #f4f4f4;
    margin-bottom: 0
}
section#second .inner {
    text-align: center;
}

footer {
    width: 1000px;
    margin: auto;
    display: flex;
    background: #eee;
    text-align: center;
}
.imgs a {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}
 
.imgs a:hover {
    transform: scale(1.05);
}
 
.imgs img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}
 
 
.imgs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 900px;
    padding: 15px;
}

.work-title {
    display: block; /* ブロックレベルの要素として表示 */
    color: #333; /* 文字色 */
    font-size: 1.2em; /* 文字サイズ */
    margin-top: 8px; /* 画像との間隔 */
    text-align: center; /* 中央揃え */
}

section#force {
    width: 1000px;
    margin: auto;
    display: flex;
    background-color: #f4f4f4;
    margin-bottom: 0
}

section#force .imgs {
    text-align: center;
}

table th,
table td {
    vertical-align: baseline;
    padding: .25em .5em;
}

table th {
    padding-top: 1em;
    text-align: right;
}

table th.vote,
table th.opinion {
    padding-top: .5em;
    vertical-align: top;
}

table td {
    line-height: 1.6;
}

section#skill {
    width: 1000px;
    margin: auto;
    display: flex;
    background-color: #f4f4f4;
    margin-bottom: 0
}

section#skill .inner {
    text-align: center;
}
